nav {
  position: fixed;
  top: 0pc;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  vertical-align: middle;
  height: 45px;
}
main {
  margin-top: 100px;
}

.menuList {
  display: inline-block;
}

.menuLogo {
  height: 40px;
}
.rightTopMenu {
  float: right;
  margin: 10px;
}

.leftTopMenu {
  float: left;
  margin: 10px;
}

.menuLink {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.subscribeBtn {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background: #567b95;
  border: 1px solid #326891;
  font-size: 11px;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  padding: 7px;
  border-radius: 10%;
}

.articleAlign {
  text-align: center;
}
.mainArticleWrapper {
  width: 600px;
  margin: 0 auto;
}
.mainImageWrapper {
  text-align: center;
  margin: 0 auto;
  width: 1200px;
}
.innerArticleWrapper {
  text-align: center;
  margin-top: 30px;
}
.footerImage {
  text-align: start;
}

#menuScreenMarginLeft {
  float: left;
  margin-left: 150px;
}
#menuScreenMarginRight {
  float: right;
  margin-right: 150px;
}
#menuScreenUserIcon {
  display: none;
}
#mainImage {
  width: 1200px;
  height: 700px;
}
.alignTextToStart {
  text-align: start;
}
.articleDateDiv {
  display: inline-block;
}
.leftFloat {
  float: left;
}
.rightFloat {
  float: right;
  margin-right: 15px;
}
.articleDateDivWrapper > a > i {
  border-radius: 100%;
  border: 0;
  background-color: #eee;
  padding: 10px;
  color: black;
}
.date {
  margin-top: 10px;
}
.authors {
  font-weight: 700;
  margin-bottom: 15px;
}
.articleContentWrapper {
  margin-top: 90px;
}
.articleContentWrapper > p {
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.9375rem;
}
.littleSplitBar {
  width: 72px;
  height: 2px;
  background-color: #eee;
  margin: 0 45%;
}
.bold {
  font-weight: 700;
}
.suscribeLink {
  color: rgb(50, 104, 145);
  text-decoration: none;
}
.asideEditorPics {
  float: right;
}
